{{#link-to 'list' list}}
  <h4>
    {{list.title}}
  </h4>
{{/link-to}}
{{#if isEmpty}}
<button class="btn btn-danger" {{action 'delete'}}>Delete</button>
{{/if}}
  <button class="btn btn-default" {{action 'updateTitle'}}>Edit</button>
